.navLinks {
    display: flex;
    flex-direction: row;
    gap: 60px;
    list-style: none;
}
.link {
    text-transform: uppercase;

    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--text-color);
    display: inline-block;
}

.link.active {
    color: var(--footer-color);
    border-top: 1px solid var(--footer-color);
    border-bottom: 1px solid var(--footer-color);
}
