:root {
    --background-color: #e5e5e5;
    --text-color: #333;
    --text-color-grey: #bdbdbd;
    --text-color-black: #000;
    --text-color-white: #fff;
    --elements-color: #f2f2f2;
    --background-color-grey: #f3f3f3;
    --footer-color: #afa9a9;
}
