@import './css/fonts.css';
@import './css/variables.css';

html {
    scroll-behavior: smooth;
    line-height: 1;
}

body {
    font-family: 'Roboto';

    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--backround-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
input,
select,
textarea {
    padding: 0;
    outline: none;
    border: none;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
